# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directory
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
.pypirc
temp_llama/
data/
scripts/cache/
